<menu id="WorkoutTimerMenu">
    <menu-item id="item_30">0:30</menu-item>
    <menu-item id="item_60">1:00</menu-item>
    <menu-item id="item_90">1:30</menu-item>
    <menu-item id="item_120">2:00</menu-item>
    <menu-item id="item_300">5:00</menu-item>
    <menu-item id="item_1800">30:00</menu-item>
    <menu-item id="item_custom">Custom Time</menu-item>
    <menu-item id="item_repeat">Repeat On/Off</menu-item>
</menu>